/* MAIN BODY CONTAINER */
body > .d-flex.flex-row.justify-content-center {
  background:
    linear-gradient(rgba(218, 218, 218, 0.8), rgba(255, 255, 255, 0.8)),
    url("/images/bg-2.jpg");
  background-position: center;
  background-size: cover;
}

#today-title > h1,
#today-date > h1,
#reservations-title > h1,
#pencilbookings-title > h1,
#form-title > h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.reservations-options,
.pencilbookings-options {
  font-weight: 700;
}

.calendar-monthyear {
  font-weight: 700;
}

.calendar-dayofweek {
  font-weight: 500;
  text-align: center;
}

.calendar-day {
  min-height: 80px;
  text-align: center;
}

.calendar-day > h2 {
  font-weight: 600;
}

.with-event {
  background-color: #fceeee;
}

.button {
  background-color: #2e2e2e !important;
  color: #ffffff !important;
}

.booked {
  background-color: #eef9f3 !important;
}

.booked:hover {
  background-color: #d3efe0 !important;
}

.reserved {
  background-color: #f9eef0 !important;
}

.reserved:hover {
  background-color: #efd3d8 !important;
}
