.withEvent {
  background-color: #902d41 !important;
}

.calendar-day {
  background-color: #f0f0f0;
  transition: 0.3s;
}

.calendar-day:hover {
  background-color: #eaeaea;
}

.border-gray {
  border-color: #323232 !important;
}

.w-20 {
  width: 20%;
}
